<form method='post' action='phonebook'>
	<input type='text' name='first_name'> First Name
	<br>
	<input type='text' name='last_name'> Last Name
	<br>
	<input type='text' name='street_address'> Street Address
	<br>
	<input type='text' name='city'> City
	<br>
	<input type='text' name='state'> State
	<br>
	<input type='text' name='zip'> Zip
	<br>
	<input type='text' name='cell_phone'> Cell phone
	<br>
	<input type='text' name='home_phone'> Home phone
	<br>
	<input type='submit' name='Push Me'>
</form>
	<table class="table" border="1">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Street Address</th>
				<th>City</th>
				<th>State</th>
				<th>Zip</th>
				<th>Cell Phone</th>
				<th>Home Phone</th>
			</tr>
		</thead>
		<tbody>
			<%phonebook.each do |contacts|%>
           <tr>
               <td><%=contacts["first_name"] %></td>
               <td><%=contacts["last_name"] %></td>
               <td><%=contacts["street_address"] %></td>
               <td><%=contacts["city"] %></td>
               <td><%=contacts["state"] %></td>
               <td><%=contacts["zip"] %></td>
               <td><%=contacts["cell_phone"] %></td>
               <td><%=contacts["home_phone"] %></td>
           </tr>
           <%end%>
       </tbody>
   </table>

<form action= "/update" method= "post">
   	<input type = "text" name= "first_name_update"><br>
   	<input type = "text" name= "first_name"><br>
   	<input type = "submit" value = "Change first name">
</form>

<form action= "/update" method= "post">
   	<input type = "text" name= "last_name_update"><br>
   	<input type = "text" name= "last_name"><br>
   	<input type = "submit" value = "Change last name">
</form>

<form action= "/update" method= "post">
   	<input type = "text" name= "street_address_update"><br>
   	<input type = "text" name= "street_address"><br>
   	<input type = "submit" value = "Change street address">
</form>

<form action= "/update" method= "post">
   	<input type = "text" name= "city"><br>
   	<input type = "text" name= "city"><br>
   	<input type = "submit" value = "Change city">
</form>

<form action= "/update" method= "post">
   	<input type = "text" name= "state_update"><br>
   	<input type = "text" name= "state"><br>
   	<input type = "submit" value = "Change state">
</form>

<form action= "/update" method= "post">
   	<input type = "text" name= "zip_update"><br>
   	<input type = "text" name= "zip"><br>
   	<input type = "submit" value = "Change zip code">
</form>

<form action= "/update" method= "post">
   	<input type = "text" name= "cell_phone_update"><br>
   	<input type = "text" name= "cell_phone"><br>
   	<input type = "submit" value = "Change cell_phone">
</form>

<form action= "/update" method= "post">
   	<input type = "text" name= "home_phone_update"><br>
   	<input type = "text" name= "home_phone"><br>
   	<input type = "submit" value = "Change home_phone">
</form>

<form action="/clear" method="post">
<input type = "submit" value = "Clear Table">
</form>


				

 





						
						





