<form method="post" action="/phonebook">

	First Name:     <input type="text" name="first_name"> <br>
	Last Name:      <input type="text" name="last_name">  <br>
	Street Address: <input type="text" name="street_address">  <br>
	City:           <input type="text" name="city">  <br>
	State:          <input type="text" name="state">  <br>
	Zip Code:       <input type="text" name="zip">  <br>
	Cell Phone:     <input type="text" name="cell_phone"> <br>
	Home Phone:     <input type="text" name="home_phone">  <br>
	                <input type='submit' value= 'Submit'> 

</form>

	
			<table class="table">       
			 <thead><tr>                
			 <th>First Name</th>                
			 <th>Last Name</th>                
			 <th>Street Address</th>                
			 <th>City</th>                
			 <th>State</th>                
			 <th>Zip</th>               
			 <th>Mobile Number</th>                
			 <th>Home Number</th>                
			 <th>Work Number</th>            
			 </tr>        
			 </thead>        
			 <tbody>            
			 <%phonebook.each do |contacts|%>            
			 <tr>                
			 <td><%=contacts["first_name"] %></td>                
			 <td><%=contacts["last_name"] %></td>                 
			 <td><%=contacts["street_address"] %></td>                
			 <td><%=contacts["city"] %></td>                
			 <td><%=contacts["state"] %></td>                 
			 <td><%=contacts["zip"] %></td>                
			 <td><%=contacts["mobile_phone"] %></td>                
			 <td><%=contacts["home_phone"] %></td>                
			  <td><%=contacts["work_phone"] %></td>            
			  </tr>            
			  <%end%>        
			  </tbody>   
			   </table>

				

 





						
						





